@import url('https://fonts.googleapis.com/css?family=Varela+Round');

$gray: #dfe4ea;
$border-radius: 20px;


body {background-color: $gray; font-size: 16px; font-family: Varela Round;}

	
h1, h2, h3, h4, h5, h5 {font-weight: 400}

.clr {clear: both}

#mariam { display: flex; align-items: center; flex-flow: column; justify-content: center; height: 100vh;

	.chatbox { max-width: 300px; width: 100%; position: relative; 
		background-color: #fff; border-radius: 20px; box-shadow: 0 0 10px 0 darken($gray, 5);
		
		.photo {position: absolute; width: 50px; height: 50px; border-radius: 50%; background-color: #000; background-image: url('https://pbs.twimg.com/profile_images/874784286620221440/C5uAlc_y_400x400.jpg'); background-size: cover;}

		.container {padding: 30px; margin-bottom: 10px}

		.title {margin-bottom: 26px; font-size: 22px; color: darken($gray, 20)}

		.message {float: right; padding: 5px 20px; margin: 5px 0; border-radius: $border-radius; display: block; clear: both;
			font-size: 13px; background-color: $gray}
		.message.bot {float: left; background-color: #ff6b81; color: #fff}

		.input { max-width: 100%; max-height: 50px; margin: 5px; box-sizing: border-box; padding: 20px; color: darken($gray,50); border: 0; border-radius: 2px 2px $border-radius $border-radius; outline: none;
			background-color: lighten($gray, 2);
		}
	}

}